In [2]:
import os
import datetime

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
%matplotlib inline

In [22]:
train = pd.read_csv('../data/NWP.csv', parse_dates=['gtime', 'time'], index_col=['sta', 'gtime', 'ltime', 'time'])
train.head()

                                                      co   no2   o3   pblh  \
sta   gtime               ltime time
1008A 2016-01-01 20:00:00 0     2016-01-01 20:00:00  2.2  57.0  0.0    0.0
                          1     2016-01-01 21:00:00  2.2  63.1  0.0   40.2
                          2     2016-01-01 22:00:00  2.7  63.0  0.0   81.5
                          3     2016-01-01 23:00:00  1.9  50.0  0.0  132.8
                          4     2016-01-02 00:00:00  0.6  33.5  1.0  206.5

                                                      pm10   pm25  pm25_w  \
sta   gtime               ltime time
1008A 2016-01-01 20:00:00 0     2016-01-01 20:00:00  191.1  172.9     0.0
                          1     2016-01-01 21:00:00  208.9  183.4    67.7
                          2     2016-01-01 22:00:00  217.4  191.1     0.0
                          3     2016-01-01 23:00:00  135.0  121.7     0.0
                          4     2016-01-02 00:00:00   49.5   47.1     0.0

                                                     rainc  rainnc   rh2  \
sta   gtime               ltime time
1008A 2016-01-01 20:00:00 0     2016-01-01 20:00:00    0.0     0.0  84.4
                          1     2016-01-01 21:00:00    0.0     0.0  82.0
                          2     2016-01-01 22:00:00    0.0     0.0  78.7
                          3     2016-01-01 23:00:00    0.0     0.0  68.6
                          4     2016-01-02 00:00:00    0.0     0.0  61.0

                                                      so2     t2  u10  v10  \
sta   gtime               ltime time
1008A 2016-01-01 20:00:00 0     2016-01-01 20:00:00  40.1  269.2 -0.3 -0.2
                          1     2016-01-01 21:00:00  48.9  269.8 -0.2 -0.8
                          2     2016-01-01 22:00:00  50.5  270.3 -0.2 -1.1
                          3     2016-01-01 23:00:00  31.8  271.2 -0.1 -0.8
                          4     2016-01-02 00:00:00   9.7  272.1 -1.2 -2.1

                                                     vis1   vis2
sta   gtime               ltime time
1008A 2016-01-01 20:00:00 0     2016-01-01 20:00:00   2.3  100.0
                          1     2016-01-01 21:00:00   2.4    3.3
                          2     2016-01-01 22:00:00   2.5    4.2
                          3     2016-01-01 23:00:00   4.7    6.7
                          4     2016-01-02 00:00:00  13.4   20.5

In [14]:
train.gtime.unique()

array(['2016-01-01T20:00:00.000000000', '2016-01-02T20:00:00.000000000',
       '2016-01-03T20:00:00.000000000', ...,
       '2018-12-31T20:00:00.000000000', '2019-01-01T20:00:00.000000000',
       '2019-01-02T20:00:00.000000000'], dtype='datetime64[ns]')

In [23]:
tt = train.query('gtime!="2019-01-02 20:00"')
te = train.query('gtime=="2019-01-02 20:00"')
te.head()

                                                      co   no2   o3  pblh  \
sta   gtime               ltime time
1008A 2019-01-02 20:00:00 0     2019-01-02 20:00:00  1.2  79.1  0.0   0.0
                          1     2019-01-02 21:00:00  1.3  77.5  0.0  33.0
                          2     2019-01-02 22:00:00  1.5  76.0  0.0  27.6
                          3     2019-01-02 23:00:00  1.3  75.5  0.0  18.6
                          4     2019-01-03 00:00:00  1.3  75.8  0.0  18.6

                                                      pm10   pm25  pm25_w  \
sta   gtime               ltime time
1008A 2019-01-02 20:00:00 0     2019-01-02 20:00:00   99.2   87.1     0.0
                          1     2019-01-02 21:00:00  104.0   93.0     0.0
                          2     2019-01-02 22:00:00  114.3  103.3     0.0
                          3     2019-01-02 23:00:00   93.8   86.1     0.0
                          4     2019-01-03 00:00:00   94.1   86.4     0.0

                                                     rainc  rainnc   rh2  \
sta   gtime               ltime time
1008A 2019-01-02 20:00:00 0     2019-01-02 20:00:00    0.0     0.0  31.7
                          1     2019-01-02 21:00:00    0.0     0.0  46.0
                          2     2019-01-02 22:00:00    0.0     0.0  51.9
                          3     2019-01-02 23:00:00    0.0     0.0  50.7
                          4     2019-01-03 00:00:00    0.0     0.0  49.3

                                                      so2     t2  u10  v10  \
sta   gtime               ltime time
1008A 2019-01-02 20:00:00 0     2019-01-02 20:00:00  61.5  269.4  0.2  1.4
                          1     2019-01-02 21:00:00  61.6  266.1 -1.7 -0.1
                          2     2019-01-02 22:00:00  61.5  265.5 -1.1  0.0
                          3     2019-01-02 23:00:00  45.6  264.9 -1.3 -0.4
                          4     2019-01-03 00:00:00  46.1  264.6 -0.9 -0.1

                                                     vis1   vis2
sta   gtime               ltime time
1008A 2019-01-02 20:00:00 0     2019-01-02 20:00:00   8.6  100.0
                          1     2019-01-02 21:00:00   7.5    9.6
                          2     2019-01-02 22:00:00   6.5    8.3
                          3     2019-01-02 23:00:00   7.8   10.2
                          4     2019-01-03 00:00:00   7.8   10.1

In [20]:
tt.set_index('ltime')[['o3', 'pblh']].sub(te.set_index('ltime')[['o3', 'pblh']], level='ltime', axis=0).head()

         o3  pblh
ltime
0       0.0   0.0
0       0.0   0.0
0       0.0   0.0
0      29.3   0.0
0       0.0   0.0

In [24]:
tt.sub(te, level='ltime', axis=0)

TypeError: Join on level between two MultiIndex objects is ambiguous

In [26]:
tt.shape

(106118, 16)

In [27]:
te.shape

(97, 16)

In [30]:
list(map(len, tt.index.levels))

[1, 1095, 97, 26425]

In [34]:
tt.to_numpy().reshape(1,1095,97,26425,16)

ValueError: cannot reshape array of size 1697888 into shape (1,1095,97,26425,16)

In [35]:
1095*97

106215

In [38]:
te.head()

                                                      co   no2   o3  pblh  \
sta   gtime               ltime time
1008A 2019-01-02 20:00:00 0     2019-01-02 20:00:00  1.2  79.1  0.0   0.0
                          1     2019-01-02 21:00:00  1.3  77.5  0.0  33.0
                          2     2019-01-02 22:00:00  1.5  76.0  0.0  27.6
                          3     2019-01-02 23:00:00  1.3  75.5  0.0  18.6
                          4     2019-01-03 00:00:00  1.3  75.8  0.0  18.6

                                                      pm10   pm25  pm25_w  \
sta   gtime               ltime time
1008A 2019-01-02 20:00:00 0     2019-01-02 20:00:00   99.2   87.1     0.0
                          1     2019-01-02 21:00:00  104.0   93.0     0.0
                          2     2019-01-02 22:00:00  114.3  103.3     0.0
                          3     2019-01-02 23:00:00   93.8   86.1     0.0
                          4     2019-01-03 00:00:00   94.1   86.4     0.0

                                                     rainc  rainnc   rh2  \
sta   gtime               ltime time
1008A 2019-01-02 20:00:00 0     2019-01-02 20:00:00    0.0     0.0  31.7
                          1     2019-01-02 21:00:00    0.0     0.0  46.0
                          2     2019-01-02 22:00:00    0.0     0.0  51.9
                          3     2019-01-02 23:00:00    0.0     0.0  50.7
                          4     2019-01-03 00:00:00    0.0     0.0  49.3

                                                      so2     t2  u10  v10  \
sta   gtime               ltime time
1008A 2019-01-02 20:00:00 0     2019-01-02 20:00:00  61.5  269.4  0.2  1.4
                          1     2019-01-02 21:00:00  61.6  266.1 -1.7 -0.1
                          2     2019-01-02 22:00:00  61.5  265.5 -1.1  0.0
                          3     2019-01-02 23:00:00  45.6  264.9 -1.3 -0.4
                          4     2019-01-03 00:00:00  46.1  264.6 -0.9 -0.1

                                                     vis1   vis2
sta   gtime               ltime time
1008A 2019-01-02 20:00:00 0     2019-01-02 20:00:00   8.6  100.0
                          1     2019-01-02 21:00:00   7.5    9.6
                          2     2019-01-02 22:00:00   6.5    8.3
                          3     2019-01-02 23:00:00   7.8   10.2
                          4     2019-01-03 00:00:00   7.8   10.1

In [50]:
aa = tt[['co', 'pblh']].reset_index(['sta', 'gtime', 'time'], drop=True).sub(te[['co', 'pblh']].reset_index(['sta', 'gtime', 'time'], drop=True))
aa.rolling(3).sum()
aa.index=tt.index

In [52]:
aa

                                                      co  pblh
sta   gtime               ltime time
1008A 2016-01-01 20:00:00 0     2016-01-01 20:00:00  1.0   0.0
                          1     2016-01-01 21:00:00  0.8   0.0
                          2     2016-01-01 22:00:00  0.0   0.0
                          3     2016-01-01 23:00:00 -1.0   0.0
                          4     2016-01-02 00:00:00 -0.4   0.0
...                                                  ...   ...
      2019-01-01 20:00:00 92    2019-01-05 16:00:00  0.1  -0.1
                          93    2019-01-05 17:00:00  0.1   0.0
                          94    2019-01-05 18:00:00  1.6   3.0
                          95    2019-01-05 19:00:00 -0.2   0.1
                          96    2019-01-05 20:00:00 -1.0   0.0

[106118 rows x 2 columns]